# Copyright 2026 Morse Micro
# SPDX-License-Identifier: Apache-2.0

config MBEDTLS
	bool
	default y

config CUSTOM_MBEDTLS_CFG_FILE
        bool
	default y

config MBEDTLS_CFG_FILE
        string
	default "morse_mbedtls_config.h"

config MBEDTLS_ZEPHYR_ENTROPY
        bool
	default y
